.programming {
    height: calc(110vh - var(--navbar-height));
    display: flex;
    justify-content: space-around;
    align-items: left;
    background-color: var(--color-black);
    width: 100vw;
    align-self: center; 
    flex-direction: column;
    padding: 3vw;
}

.programming-header {
  color: white;
  
}

.programming-overHead {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction:  row;
}
.programming-content {
    flex: 1;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-direction: row;
}

.programming-photo {
  border-radius: 80px;
  width: 35vw;
}

.programming-progress-headers {
    color: white;
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.programming-progress-content {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.programming-bars-padding {
   margin-left: 40px;
}

.programming-progress {
    width: 35vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}