@import 'antd/dist/reset.css';

:root {
  --color-orange: #FFB11F;
  --deep-orange: #CC8500;
  --color-black: #090909;
  --color-white: #F8F9FA;
  --color-darkcambridgeblue: #59886F;
  --color-cambridgeblue: #8FB9A8;
  --navbar-height: 70px;
  --border-radius: 8px;
  background-color: var(--color-black);
}

.app {
  display: flex;
  background-color: var(--color-black);
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.ant-popover-inner {
  border-radius: 20px;
}

.ant-modal-content {
  border-radius: 20px;
}

.ant-modal-header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

h1,
h2,
h3 {
  font-family: "Public_Sans";
  margin: 0;
  font-size: 25px;
  line-height: 1.5;
  color: currentColor;
}

p {
  font-family: "Public_Sans";
  font-size: 19px;
  line-height: 1.3;
  margin: 0;
}

a:hover {
  color: var(--color-black);
}

.header {
  font-family: "Public_Sans";
  font-size: 40px;
  color: var(--color-blue);
  font-weight: bold;
  margin-bottom: 40px;
}


.content {
  margin-top: var(--navbar-height);
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

mark {
  background-color: var(--color-cambridgeblue);
  color: var(--color-black);
  border-radius: 10px;
  padding: 0px;
}

@media only screen and (max-width: 450px) {
  p {
    font-size: 16px;
    line-height: 1.2;
  }

  h1,
  h2,
  h3 {
    font-family: "Public_Sans";
    margin: 0;
    font-size: 20px;
    line-height: 1.4;
    color: currentColor;
  }
}


@media only screen and (min-width: 450px) and (max-width: 768px) {
  :root {
    --navbar-height: 100px;
  }

  p {
    font-size: 16px;
    line-height: 1.3;
  }

  h1,
  h2,
  h3 {
    font-family: "Public_Sans";
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
    color: currentColor;
  }
}

@media only screen and (min-width: 1900px) {
  p {
    font-size: 28px;
    line-height: 1.5;
  }


  h1,
  h2,
  h3 {
    font-family: "Public_Sans";
    margin: 0;
    font-size: 36px;
    line-height: 1.8;
    color: currentColor;
  }
}