@import '~antd/dist/antd.css';

:root {
  --color-orange: #FFB11F;
  --color-black: #000000;
  --navbar-height: 100px;
  --border-radius: 8px;
  background-color: black;
}
.app {
  display: flex;
  background-color: black;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: "Lato";
  margin: 0;
  font-size: 25px;
  color: currentColor;
}

p {
  font-family: "Lato";
  font-size: 19px;
  margin: 0;
}

a:hover {
  color: black;
}

.header {
  font-family: "Roboto";
  font-size: 40px;
  color: var(--color-blue);
  font-weight: bold;
  margin-bottom: 40px;
}


.content {
  margin-top: var(--navbar-height);
  background-color: black;
  display: flex;
  flex-direction: column;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}


